#Assignment 2 - Submitted By : Vishav Gupta [102497018]

Q 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

i. WAP to add 200 and 300 to L.

ii. WAP to remove 10 and 30 from L.

iii. WAP to sort L in ascending order.

iv. WAP to sort L in descending order.

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
print("i. WAP to add 200 and 300 to L: ")
L.extend([200,300])
print(L)

print("ii. WAP to remove 10 and 30 from L: ")
L.remove(10)
L.remove(30)
print(L)

print("iii. WAP to sort L in ascending order: ")
print(sorted(L))

print("iv. WAP to sort L in descending order: ")
print(sorted(L, reverse = True))

i. WAP to add 200 and 300 to L:
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
ii. WAP to remove 10 and 30 from L:
[20, 40, 50, 60, 70, 80, 200, 300]
iii. WAP to sort L in ascending order:
[20, 40, 50, 60, 70, 80, 200, 300]
iv. WAP to sort L in descending order:
[300, 200, 80, 70, 60, 50, 40, 20]

Q 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:

i. Identify the highest score and its index in the tuple.

ii. Find the lowest score and count how many times it appears.

iii. Reverse the tuple and return it as a list.

iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [2]:
score = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

print("i. Identify the highest score and its index in the tuple: ")
maxScore = max(score)
print(f"Highest Score: {maxScore} & its Index is {score.index(maxScore)}")

print("ii. Find the lowest score and count how many times it appears: ")
minScore = min(score)
print(f"Highest Score: {minScore} & its Index is {score.count(minScore)}")

print("iii. Reverse the tuple and return it as a list: ")
print(list(reversed(score)))

print("iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present: ")
check_score = int(input("\nEnter a score to check: "))
if check_score in score:
  print("Score found at index: ", score.index(check_score))
else:
  print("Score not found")

i. Identify the highest score and its index in the tuple:
Highest Score: 92 & its Index is 5
ii. Find the lowest score and count how many times it appears:
Highest Score: 45 & its Index is 2
iii. Reverse the tuple and return it as a list:
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present:

Enter a score to check: 92
Score found at index:  5

Q 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:

i. All odd numbers

ii. All even numbers

iii. All prime numbers

In [3]:
import random

random_list = random.sample(range(100,900),100)
print(random_list)

print("\nOdd numbers:")
for i in random_list:
  if i%2 != 0:
    print(i, end=', ')

print("\nEven numbers:")
for i in random_list:
  if i%2 == 0:
    print(i, end=', ')

print("\nPrime numbers:")
for i in random_list:
  if i > 1:
    for j in range(2,i):
      if i%j == 0:
        break
    else:
      print(i, end=', ')

[518, 859, 685, 787, 156, 691, 569, 286, 409, 326, 401, 538, 388, 797, 133, 466, 229, 184, 487, 816, 550, 190, 412, 233, 122, 247, 608, 134, 145, 113, 352, 642, 662, 519, 756, 646, 769, 655, 398, 124, 317, 707, 549, 577, 224, 173, 474, 334, 270, 580, 103, 734, 308, 641, 127, 454, 664, 830, 468, 582, 653, 786, 503, 281, 815, 892, 200, 195, 266, 560, 484, 746, 837, 476, 374, 584, 886, 613, 524, 542, 742, 817, 556, 426, 765, 877, 667, 711, 217, 896, 196, 552, 586, 329, 304, 255, 456, 633, 311, 774]

Odd numbers:
859, 685, 787, 691, 569, 409, 401, 797, 133, 229, 487, 233, 247, 145, 113, 519, 769, 655, 317, 707, 549, 577, 173, 103, 641, 127, 653, 503, 281, 815, 195, 837, 613, 817, 765, 877, 667, 711, 217, 329, 255, 633, 311,
Even numbers:
518, 156, 286, 326, 538, 388, 466, 184, 816, 550, 190, 412, 122, 608, 134, 352, 642, 662, 756, 646, 398, 124, 224, 474, 334, 270, 580, 734, 308, 454, 664, 830, 468, 582, 786, 892, 200, 266, 560, 484, 746, 476, 374, 584, 886, 524, 542, 742, 556, 426, 896, 196, 552, 586, 304, 456, 774,
Prime numbers:
859, 787, 691, 569, 409, 401, 797, 229, 487, 233, 113, 769, 317, 577, 173, 103, 641, 127, 653, 503, 281, 613, 877, 311,

Q 4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}

WAP to perform the following operaƟons using set functions:

i. Find the unique scores achieved by both teams (union of sets).

ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).

iii. Find the scores that are exclusive to each team (symmetric difference).

iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.

v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [4]:
setA = {34,56,78,90}
setB = {78,45,90,23}

print("Unique scores achieved by both teams = ", setA.union(setB))

print("\nScores that are common to both teams = ", setA.intersection(setB))

print("\nScores that are exclusive to each team = ", setA.symmetric_difference(setB))

print("\nIs setA a subset of setB? ", setA.issubset(setB))
print("Is setB a superset of setA? ", setB.issuperset(setA))

x = int(input("\nEnter a score to remove from setA: "))
if x in setA:
  setA.remove(x)
  print(setA)

Unique scores achieved by both teams =  {34, 45, 78, 23, 56, 90}

Scores that are common to both teams =  {90, 78}

Scores that are exclusive to each team =  {34, 45, 23, 56}

Is setA a subset of setB?  False
Is setB a superset of setA?  False

Enter a score to remove from setA: 78
{56, 34, 90}

Q 5. Write a program to rename a key city to a location in the following dictionary.

```
sample_dict = {"name":"kelly", "age":25, "salary":8000, "city":"New York"}
```

In [5]:
dict1 = {"name":"kelly", "age":25, "salary":8000, "city":"New York"}
print("Original dictionary: \n", dict1)

dict1["location"] = dict1.pop("city")
print("\nDictionary after renaming: \n", dict1)

Original dictionary:
 {'name': 'kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}

Dictionary after renaming:
 {'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}